

<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/GridviewScroll/gridviewScroll.css" rel="stylesheet" />
<script src="~/GridviewScroll/gridviewScroll.js"></script>

<style type="text/css">
    .divclass {
        overflow: auto;
    }
    .custom-checkbox {
        accent-color: #2196f3; /* Màu xanh lam */
        border: 2px solid #2196f3; /* Viền xanh lam cho checkbox */
        width: 20px;
        height: 20px;
    }

        .custom-checkbox:checked {
            background-color: #2196f3; /* Màu nền khi checkbox được chọn */
            border-color: #1976d2; /* Đổi màu viền khi checkbox được chọn */
        }

</style>
<script>

    $(document).ready(function () {
        detail();

    });
    var url_string = document.URL;
    var url = new URL(url_string);

    var startdate = url.searchParams.get("startdate");
    var Id = url.searchParams.get("Id"); 
    var luot = url.searchParams.get("luot"); 
    var types = url.searchParams.get("types"); 
</script>

<section class="content-header">
    <h1>
        <small>Chi tiết phân công hồ sơ khiếu nại </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Báo cáo chi tiết</li>
    </ol>
</section>
<section class="content">

    <div class="box box-default">

        <div class="box-body">

            <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-success btn-lrg ajax" id="btnexportlist" data-baseurl="@Url.Action("Export_TICKET", "TMS_TICKET")">Xuất Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i>  </button>
            </div>
        </div>

            <div class="employee-info" style="display: flex; align-items: center; gap: 10px; padding: 10px;">
                <div id="employeeName" class="employee-name" style="font-size: 20px; border: 1px solid #ccc; padding: 5px;">Tên nhân viên</div>
                <div id="LuotImport" class="employee-name" style="font-size: 20px; border: 1px solid #ccc; padding: 5px;">Lượt Import</div>
                <div id="Users" class="employee-name" style="font-size: 20px; border: 1px solid #ccc; padding: 5px;">User</div>
                <div id="TrangThai" class="employee-name" style="font-size: 20px; border: 1px solid #ccc; padding: 5px;">Trạng thái</div>
            </div>
            <!-- Tên nhân viên sẽ được hiển thị ở đây -->
        </div>
                <!-- Tên nhân viên sẽ được cập nhật ở đây -->
            </div>
            <div style="width: 100%; overflow-x: scroll;">
                <table id="DetailTable" class="table table-bordered table-striped table-responsive-stack">
                    <thead>
                        <tr class="bg-light-blue color-palette">
                            <th class="text-center">STT</th>
                            <th class="text-center">Số hồ sơ</th>
                            <th class="text-center">MÃ BG/GD</th>
                            <th class="text-center">Ngày tạo</th>
                            <th class="text-center">Tình trạng xử lý</th>
                            <th class="text-center">Mã ĐV chủ trì</th>
                            <th class="text-center">Đơn vị chủ trì</th>
                            <th class="text-center">Ngày hết hạn</th>
                            <th class="text-center">Tỉnh nhận</th>
                            <th class="text-center">Tỉnh trả</th>
                            <th class="text-center">Tên nhân viên</th>
                            <th class="text-center">Hồ sơ mới</th>
                            <th class="text-center">Trạng thái phân công</th>
                            <th class="text-center">Phân công</th>
                        </tr>
                    </thead>
                    <tbody id="listkpithdvreport"></tbody>
                </table>
                <!-- Modal Sửa Trạng Thái -->
                        <div class="modal fade" id="editStatusModal" tabindex="-1" role="dialog" aria-labelledby="editStatusModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" style="border-radius: 15px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);">
                                    <div class="modal-header" style="background-color: #5bc0de; color: white; border-top-left-radius: 15px; border-top-right-radius: 15px;">
                                        <h5 class="modal-title" id="editStatusModalLabel">Chuyển phân công thủ công</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" style="color: white;">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <!-- Nhân viên được phân công -->
                                        <div class="form-group">
                                            <label for="formSoHS">Nhân viên chính </label>
                                            <input type="text" class="form-control" id="NVPC" name="formSoHS" disabled>
                                        </div>

                                        <!-- Nhân viên hỗ trợ -->
                                        <div class="form-group">
                                            <label for="Ten_NV">Nhân viên được phân công</label>
                                            <select class="form-control" id="Ten_NV" name="Ten_NV" required>
                                                <!-- Các bưu cục sẽ được đổ vào đây -->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer" style="border-top: 2px solid #5bc0de;">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius: 5px; background-color: #e9ecef;">Hủy</button>
                                        <button type="button" id="saveIdButton" class="btn btn-primary" style="border-radius: 5px; background-color: #17a2b8; border-color: #17a2b8;">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="col-lg-12 loading-element text-center" style="font-size:50px;">
                <i class="fa fa-spinner fa-spin"></i>
                Vui lòng chờ giây lát...
            </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
@*<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>*@


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<script>
    var url_string = document.URL;
    var url = new URL(url_string);

    var startdate = url.searchParams.get("startdate");
    var Id = url.searchParams.get("Id");
    var luot = url.searchParams.get("luot");
    var types = url.searchParams.get("types");
    $(document).ready(function () {
        detail();
    });


   function detail() {
    $.ajax({
        type: "POST",
        url: '@Url.Action("List_TICKET", "TMS_TICKET")',
        beforeSend: function () {
            $('.loading-element').show(); // Hiển thị loading
        },
        dataType: 'json',
        data: {
            startdate: startdate,
            Id: Id,
            luot: luot,
            types: types
        },
        success: function (data) {
            var str_html = "";
            var str_body = "";
            var a = 1;

            // Kiểm tra nếu ListTICKET có dữ liệu
            if (data.ListTICKET.length > 0) {
                // Nếu Id không phải là 0 hoặc null, lấy tên nhân viên từ dòng đầu tiên
                var firstEmployeeName = (Id === '0' || Id === null) ? '' : data.ListTICKET[0].TEN_NV;
                // Cập nhật tên nhân viên vào phần tử #employeeName
                $('#employeeName').text("Tên nhân viên: " + firstEmployeeName);
                // Lấy tên nhân viên từ dòng đầu tiên và cập nhật vào #LuotImport mà không cần kiểm tra Id
                var luot = data.ListTICKET[0].Luot;
                $('#LuotImport').text("Lượt import: " + luot);
                var user = data.ListTICKET[0].USERS;
                $('#Users').text("User: " + user);
            } else {
                // Nếu không có dữ liệu, ẩn tên nhân viên và lượt
                $('#employeeName').text("Không có dữ liệu");
                $('#LuotImport').text("Không có dữ liệu");
            }
            if (types == 1) {
                $('#TrangThai').text("Phân loại: Tất cả");
            } else if (types == 2) {
                $('#TrangThai').text("Phân loại: Hồ sơ mới");
            } else if (types == 3) {
                $('#TrangThai').text("Phân loại: Đang xử lý");
            } else if (types == 4) {
                $('#TrangThai').text("Phân loại: Đã có kết luận");

            } else if (types == 5) {
                $('#TrangThai').text("Phân loại: Số hồ sơ bị trùng");
            } else {
                $('#TrangThai').text("Phân loại: Không xác định");
            }
            // Duyệt qua danh sách và tạo HTML cho bảng
            $.each(data.ListTICKET, function (i, item) {
                str_body += `
                    <tr>
                        <td class="text-center">${a++}</td>
                        <td class="text-center">
                            <a href="https://cms.vnpost.vn/admin/complaints/final-result/${item.So_HS}" target="_blank">${item.So_HS}</a>
                        </td>
                        <td class="text-center">
                            <a href="http://bccp.vnpost.vn/BCCP.aspx?act=Trace&id=${item.Ma_BG}" target="_blank">${item.Ma_BG}</a>
                        </td>
                        <td class="text-center">${item.Ngay_Tao}</td>
                        <td class="text-center">${item.Trang_Thai === '1' ? 'Đang xử lý' : (item.Trang_Thai === '2' ? 'Đã có kết luận cuối cùng' : (item.Trang_Thai === '3' ? 'Đóng' : 'Không xác định'))}</td>
                        <td class="text-center">${item.Ma_DV_Chu_Tri}</td>
                        <td>${item.Ten_DV_Chu_Tri}</td>
                        <td class="text-center">${item.Ngay_Het_han}</td>
                        <td class="text-center">${item.Tinh_Nhan}</td>
                        <td class="text-center">${item.Tinh_Tra}</td>
                        <td class="text-center">${item.TEN_NV}</td>
                        <td class="text-center">
                            <input type="checkbox" class="custom-checkbox" ${item.STATUS === '0' ? 'checked' : ''} disabled>
                        </td>
                        <td class="text-center">${item.STATUS_HS === '1' ? 'Thủ công' : (item.STATUS_HS === '0' ? 'Tự động' : 'Không xác định')}</td>
                        <td class="text-center">
                            ${item.STATUS === '0' ? `<button class="btn btn-info btn-sm" onclick="editFunc('${item.So_HS}')"><i class="fa fa-pencil-alt"></i></button>` : `<button class="btn btn-info btn-sm" disabled><i class="fa fa-pencil-alt"></i></button>`}
                        </td>
                    </tr>`;
            });
            // Gắn HTML vào bảng
            str_html += str_body;
            if (data.Code == '01' || data.Code == '99') {
                $('.loading-element').hide();
                swal.fire(data.Message, '', 'error');
            } else {
                $('#DetailTable tbody').html(str_html);
                $("#DetailTable").dataTable().fnDestroy();
                $('#listkpithdvreport').html(str_html);
                $('.loading-element').hide();
                $('#btnexportlist').show();
                $('#DetailTable').DataTable({
                    "ordering": false,
                    "language": {
                        "processing": "Đang tải dữ liệu...",
                        "search": "Tìm kiếm theo từ khóa:",
                        "lengthMenu": "Điều chỉnh số lượng bản ghi trên 1 trang _MENU_ Tổng số: " + data.ListTICKET.length + " bản ghi",
                        "zeroRecords": "Không có dữ liệu!",
                        "info": "Hiển thị từ trang _PAGE_ đến _PAGES_",
                        "infoEmpty": "Không tồn tại bản ghi!",
                        "paginate": {
                            "first": "Trang đầu",
                            "previous": "Trang trước",
                            "next": "Trang sau",
                            "last": "Trang cuối"
                        }
                        
                    }
                });
            }
        }
    });
}
    var currentItemCode = "";  // Biến lưu mã ticket (itemcode) hiện tại
    function editFunc(So_HS) {
        $.ajax({
            type: "GET",
            url: "/TMS_TICKET/GetTicketDetails", // Đường dẫn đến controller
            data: { So_HS: So_HS, types: "1" },
            success: function (data) {
                if (data && data.ListLay_Itemcode && data.ListLay_Itemcode.length > 0) {
                    var laiXe = data.ListLay_Itemcode[0];  // Dữ liệu đầu tiên trong danh sách

                    // Gán itemcode vào currentItemCode
                    currentItemCode = laiXe.So_HS;  // Giả sử Itemcode là trường chứa mã ticket

                    // Cập nhật các trường trong modal
                    $("#NVPC").val(laiXe.Ten_NV);  // Nhân viên được phân công
                    nvDropdown(0, laiXe.ID_NV);

                    // Mở modal
                    $('#editStatusModal').modal('show');
                } else {
                    alert("Không tìm thấy dữ liệu.");
                }
            },
            error: function () {
                alert("Có lỗi xảy ra khi tải dữ liệu.");
            }
        });
    }
    // Lưu thông tin khi nhấn nút Lưu
    $("#saveIdButton").click(function () {
        var Item = $("#Ten_NV").val();
        if (Item == 0) {
            alert("Vui lòng chọn nhân viên hỗ trợ.");
            return;
        }
        // Gửi dữ liệu đã chọn tới server
        $.ajax({
            type: "POST",
            url: "/TMS_TICKET/UpdateTicketTrangThai",  // Đường dẫn tới controller xử lý cập nhật
            data: {
                itemcode: currentItemCode,  // Đảm bảo lưu giữ giá trị So_HS
                Item: Item,
                types: "1"

            },
            success: function (data) {
                if (data.success) {
                    alert("Cập nhật thành công!");
                    $('#editStatusModal').modal('hide');  // Đóng modal
                    window.location.reload();  // Tải lại trang
                } else {
                    alert("Cập nhật thất bại.");
                }
            },
            error: function () {
                alert("Có lỗi xảy ra khi lưu dữ liệu.");
            }
        });

    });
    // Hàm tải danh sách nhân viên
    function nvDropdown(nhomtinh, Ten_NV) {
        $.ajax({
            url: "/TMS_TICKET/Get_Nhom_Tinh",  // Đường dẫn đến controller
            data: { nhomtinh: nhomtinh, types :"1" },  // Gửi zone từ thông tin lái xe
            dataType: "json",
            success: function (data) {
                // Reset dropdown nhân viên
                $('#Ten_NV').html('<option value="0">Chọn nhân viên</option>');

                // Đổ dữ liệu nhân viên vào dropdown
                $.each(data, function (i, val) {
                    $('#Ten_NV').append("<option value='" + val.ID + "'>" + val.TEN_NV + "</option>");
                });
                // Cập nhật giá trị tên nhân viên đã chọn
                if (Ten_NV) {
                    // Lọc giá trị trong danh sách để chọn nhân viên đúng
                    $('#Ten_NV').val(Ten_NV);  // Chọn tên nhân viên ban đầu từ dữ liệu trả về
                }
            },
            error: function () {
                alert("Có lỗi xảy ra khi tải danh sách nhân viên.");
            }
        });
    }
    // Hàm lưu dữ liệu khi nhấn nút "Lưu
    $('#btnexportlist').click(function () {
        var url = $(this).data('baseurl') + '?startdate=' + startdate + '&Id=' + Id + '&luot=' + luot + '&types=' + types;
        // redirect
        location.href = url;
    });
</script>
<style>
    .custom-checkbox {
        accent-color: #2196f3; /* Màu xanh lam */
        border: 2px solid #2196f3; /* Viền xanh lam cho checkbox */
        width: 20px;
        height: 20px;
    }
        .custom-checkbox:checked {
            background-color: #2196f3; /* Màu nền khi checkbox được chọn */
            border-color: #1976d2; /* Đổi màu viền khi checkbox được chọn */
        }
</style>
