



@{
    // Layout = null;
}

<!-- Link đến các thư viện CSS -->
<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<style type="text/css">
    p {
        font-weight: bold;
    }
</style>

<section class="content-header">
    <h1>
        <small>Rút lọc và phân công xử lý hồ sơ</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Phân công hồ sơ kiếu nại</li>
    </ol>
</section>

<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Phân công hồ sơ kiếu nại</h3>
        </div>
        <div class="box-body">

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Ngày </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input class="form-control pull-right" id="todate" type="text" data-date-format="dd/mm/yyyy" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Lượt rà soát</label>
                        <select class="form-control select2" style="width: 100%;" id="luot">
                            <option selected="selected" value="0">Tất cả</option>
                            <option value="1">Lượt 1</option>
                            <option value="2">Lượt 2</option>
                            <option value="3">Lượt 3</option>
                            <option value="4">Lượt 4</option>
                            <option value="5">Lượt 5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>User CMS</label>
                        <select class="form-control select2" style="width: 100%;" id="user">
                            <option selected="selected" value="006">006</option>
                            <option value="0031">0031</option>
                            <option value="0033">0033</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">

                    <div class="form-group">
                        <label for="fileUpload">Chọn File Excel:</label>
                        <input type="file" id="fileUpload" class="form-control" />
                    </div>
                </div>
                <div class="col-md-5">
                </div>
            <div class="col-md-5">
                        <button type="button" class="btn btn-info btn-lrg ajax" id="btnreport">Hiển Thị <i class="fa fa-search"></i></button>
                        <button type="button" class="btn btn-primary" id="btnImport">Nhập Dữ Liệu <i class="fa fa-upload"></i></button>
                        <button type="button" class="btn btn-info btn-lrg ajax" id="btnInsert" data-baseurl="@Url.Action("Save_TICKET", "TMS_TICKET")">Ghi dữ liệu <i class="fa fa-save"></i></button>
            </div>
            </div>
                <div class="loading-element text-center" style="font-size:50px; display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
                <div id="successMessage" style="display: none;">
                    <p><strong>Ngày:</strong> <span id="resultDate"></span></p>
                    <p><strong>Lượt:</strong> <span id="resultLuot"></span></p>
                    <p><strong>User:</strong> <span id="resultUser"></span></p>
                </div>

                <div class="row">
                    <!--<div class="col-md-12 text-right">-->
                        @*<button type="button" class="btn btn-success btn-lrg ajax" onclick="tableToExcel('ExcelView')" id="btnexportlist">Xuất Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i>  </button>*@
                        <!--<button type="button" class="btn btn-success btn-lrg ajax" id="btnexportlist" data-baseurl="@Url.Action("Export_TICKET", "TMS_TICKET")">Xuất Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i>  </button>
                    </div>-->
                </div>
                <div>
                    <div style="width: 100%; overflow-x: scroll;">
                        <table id="TableAccount" class="table table-bordered table-striped table-responsive-stack">
                            <thead>
                                <tr class="bg-light-blue color-palette">
                                    <th rowspan="4" class="text-center">STT</th>
                                    <th rowspan="4" class="text-center">Khu vực</th>
                                    <th rowspan="4" class="text-center">Nhóm</th>
                                    <th rowspan="4" class="text-center">Tên nhân viên</th>
                                    <th rowspan="4" class="text-center">Tổng số</th>
                                    <th rowspan="4" class="text-center">Hồ sơ trùng lặp</th>
                                    <th rowspan="4" class="text-center">Hồ sơ mới</th>
                                    <th colspan="2" class="text-center">Hồ sơ cũ</th>
                                </tr>
                                <tr class="bg-light-blue color-palette">
                                    <th colspan="1" class="text-center">Đang xử lý</th>
                                    <th colspan="1" class="text-center">Đã có kết luận</th>
                                </tr>
                            </thead>
                            <tbody id="listkpithdvreport">
                                <!-- Dữ liệu sẽ được thêm vào đây -->
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
    </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
@*<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>*@

<script type="text/javascript">

    var chart1, chart2, chart4, chart5, chart6, chart7, chart8, chart9, chart10, chart11, chart12, chart13, chart14, chart15
        , chart16, chart17, chart18, chart19, chart20, chart21, chart22, chart23, chart24, chart25, chart26, chart27, chart28;
    $(document).ready(function () {
        // Ẩn phần loading
        var d = new Date();
        var currMonth = d.getMonth();
        var currYear = d.getFullYear();
        var startDate = new Date(currYear, currMonth, 1);


        $("#fromdate").datepicker({
            dateFormat: "dd/mm/yyyy",
            todayHighlight: true
        }).datepicker("setDate", startDate);

        $("#todate").datepicker({
            dateFormat: "dd/mm/yyyy",
            todayHighlight: true
        }).datepicker("setDate", "0");


        $('.loading-element').hide();
        $('.box-footer').hide();
        $('#btnexportlist').hide();
        $('.loading-element').hide();
    });
// Hàm tổng hợp
    $("#btnreport").click(function () {
    // Xóa các dòng hiện tại trong bảng
    $("#listkpithdvreport tr").remove();

    // Gọi hàm detail để lấy dữ liệu mới
    detail();

    // Hiển thị footer box nếu cần
    $('.box-footer').show();
});

function detail() {
    $.ajax({
        type: "POST",
        url: '@Url.Action("List_TICKET_TH", "TMS_TICKET")',
        beforeSend: function () {
            $('.loading-element').show(); // Hiển thị loading
        },
        dataType: 'json',
        data: {
            startdate: $('#todate').val(),
            luot: $('#luot').val(),
            user: $('#user').val(),
        },
        success: function (data) {
            var str_html = "";
            var str_body = "";
            var a = 1;

            // Kiểm tra nếu có dữ liệu trả về
            if (data.List_TICKET_TH && data.List_TICKET_TH.length > 0) {
                $.each(data.List_TICKET_TH, function (i, item) {
                    str_body += '<tr>';
                    str_body += '<td class="text-center">' + (a++) + '</td>';
                    str_body += '<td class="text-center">' + (item.Khu_Vuc == '1' ? 'Hà Nội' : item.Khu_Vuc == '2' ? 'Hồ Chí Minh' : '') + '</td>';
                    str_body += '<td class="text-center">' + item.Nhom_Tinh + '</td>';
                    str_body += '<td class="text-center">' + item.Ten_NV + '</td>';
                    str_body += '<td class="text-center"><a href="/Admin/TMS_TICKET/Report_TMS_TICKET_CT?startdate=' + $('#todate').val() + '&luot=' + $('#luot').val() + '&Id=' + item.Id + '&types=1" target="_blank">' + item.Tong_So + '</a></td>';
                    str_body += '<td class="text-center"><a href="/Admin/TMS_TICKET/Report_TMS_TICKET_CT?startdate=' + $('#todate').val() + '&luot=' + $('#luot').val() + '&Id=' + item.Id + '&types=5" target="_blank">' + item.Dong + '</a></td>';// Đóng này là hồ sơ trùng lặp
                    str_body += '<td class="text-center"><a href="/Admin/TMS_TICKET/Report_TMS_TICKET_CT?startdate=' + $('#todate').val() + '&luot=' + $('#luot').val() + '&Id=' + item.Id + '&types=2" target="_blank">' + item.HS_Moi + '</a></td>';
                    str_body += '<td class="text-center"><a href="/Admin/TMS_TICKET/Report_TMS_TICKET_CT?startdate=' + $('#todate').val() + '&luot=' + $('#luot').val() + '&Id=' + item.Id + '&types=3" target="_blank">' + item.DXL + '</a></td>';
                    str_body += '<td class="text-center"><a href="/Admin/TMS_TICKET/Report_TMS_TICKET_CT?startdate=' + $('#todate').val() + '&luot=' + $('#luot').val() + '&Id=' + item.Id + '&types=4" target="_blank">' + item.DCKQ + '</a></td>';
                    str_body += '</tr>';
                });

                str_html += str_body;

                // Xử lý kết quả trả về
                if (data.Code == '01' || data.Code == '99') {
                    $('.loading-element').hide();
                    swal.fire(data.Message, '', 'error');
                } else {
                    // Cập nhật nội dung bảng
                    $('#listkpithdvreport').html(str_html);
                    $('.loading-element').hide();
                    $('#btnexportlist').show();
                }
            } else {
                swal.fire('Không có dữ liệu để hiển thị!', '', 'warning');
                $('.loading-element').hide();
            }
        },
        error: function () {
            swal.fire('Lỗi xảy ra khi tải dữ liệu', '', 'error');
            $('.loading-element').hide();
        }
    });
}


    $('#btnImport').click(function () {
    // Lấy file từ input
    var fileInput = $('#fileUpload')[0];
    // Lấy giá trị người dùng từ ComboBox (dropdown)
        var user = $('#user').val();
        var luot = $('#luot').val();

    // Kiểm tra nếu chưa chọn file
    if (fileInput.files.length === 0) {
        alert("Vui lòng chọn file để nhập.");
        return;
    }

    // Kiểm tra nếu chưa chọn người dùng
    if (!user || user === "0") { // Kiểm tra người dùng đã chọn chưa (có thể là chuỗi trống hoặc giá trị '0')
        alert("Vui lòng chọn người dùng.");
        return;
    }
        if (!luot || luot === "0") { // Kiểm tra người dùng đã chọn chưa (có thể là chuỗi trống hoặc giá trị '0')
            alert("Vui lòng chọn lượt.");
            return;
        }
    // Tạo FormData để gửi dữ liệu
    var formData = new FormData();
    formData.append("file", fileInput.files[0]);  // Thêm file vào FormData
    formData.append("user", user);
    formData.append("luot", luot);


    // Hiển thị loading
    $('.loading-element').show();

    $.ajax({
        url: '@Url.Action("ImportTrackingItems", "TMS_TICKET")', // Đường dẫn tới phương thức controller
        type: 'POST',
        data: formData,
        contentType: false, // Để jQuery không tự động thiết lập content-type
        processData: false, // Để jQuery không cố gắng chuyển đổi dữ liệu
        success: function (response) {
            $('.loading-element').hide();  // Ẩn loading
            if (response.Code === "00") {
                alert("Nhập dữ liệu thành công!");

                // Sau khi nhập thành công, có thể hiển thị thêm thông tin về ngày, lượt, và người dùng
                $('#resultDate').text(response.Date);
                $('#resultLuot').text(response.Luot);
                $('#resultUser').text(response.User);
                $('#successMessage').show();  // Hiển thị thông báo thành công
            } else {
                alert("Lỗi: " + response.Message);
            }
        },
        error: function () {
            $('.loading-element').hide();  // Ẩn loading
            alert("Đã xảy ra lỗi khi nhập dữ liệu.");
        }
    });
});


    $('#btnexportlist').click(function () {
        // build the url
        var url = $(this).data('baseurl') + '?startdate=' + $('#fromdate').val() + '&enddate=' + $('#todate').val() + '&time=' + $('#time').val() + '&user=' + $('#user').val() + '&nhomtinh=' + $('#nhomtinh').val() + '&id=' + $('#id').val() + '&trangthai=' + $('#trangthai').val();
       // var url = $(this).data('baseurl') + '?donvi=' + $('#donvi').val() + '&phanloaidichvu=' + $('#phanloaidichvu').val() + '&startdate=' + $('#fromdate').val() + '&enddate=' + $('#todate').val() + '&service=' + $('#service').val();
        location.href = url;
    });

    $('#btnInsert').click(function () {
        // Lấy giá trị từ input
        var startdate = $('#todate').val();
        var user = $('#user').val();
        $('.loading-element').show();
        // Kiểm tra nếu chưa chọn người dùng
        if (user === null || user === undefined || user === "" || user === 0 || user === '0') {
            alert("Vui lòng chọn User.");
            return;
        }

        // Xây dựng URL
        var url = $(this).data('baseurl') + '?startdate=' + startdate + '&user=' + user;

        $.ajax({
            type: 'GET',  // Đảm bảo phương thức HTTP chính xác (GET hoặc POST)
            url: url,
            dataType: 'json',  // Đảm bảo trả về dữ liệu JSON
            success: function (response) {
                // Kiểm tra giá trị trả về từ server
                if (response.Code === "00") {
                    // Hiển thị thông báo thành công nếu mã trả về là "00"
                    swal.fire('Thành công!', response.Message, 'success');
                    $('.loading-element').hide();
                } else {
                    // Nếu mã trả về khác "00", hiển thị thông báo lỗi
                    swal.fire('Lỗi!', response.Message, 'error');
                }
            }, 
            error: function (xhr, status, error) {
                // Nếu có lỗi trong quá trình gọi AJAX, hiển thị thông báo lỗi
                swal.fire('Lỗi!', 'Không thể kết nối đến server.', 'error');
                console.error(error);
            }
        });
    });

</script>
<style>
    #successMessage {
        display: flex;
        flex-direction: row; /* Căn chỉnh các phần tử theo hàng ngang */
        gap: 20px; /* Khoảng cách giữa các phần tử */
    }

        #successMessage p {
            margin: 0; /* Bỏ margin để các phần tử không bị đẩy ra ngoài */
            padding: 0; /* Bỏ padding nếu có */
        }
</style>
<script>
    // Hàm để tự động chọn "Lượt" dựa trên giờ hiện tại
    function selectShiftBasedOnTime() {
        const now = new Date(); // Lấy giờ hiện tại
        const hours = now.getHours();
        const minutes = now.getMinutes();
        const currentTime = hours * 60 + minutes; // Đổi giờ hiện tại thành phút để so sánh dễ dàng hơn

        // Định nghĩa các khoảng thời gian cho từng lượt
        const shifts = [
            { id: "1", start: 7 * 60 + 30, end: 9 * 60 + 29 }, // Lượt 1: 7h30 - 8h
            { id: "2", start: 9 * 60 + 30, end: 10 * 60+59}, // Lượt 2: 9h30 - 10h
            { id: "3", start: 11 * 60, end: 13 * 60 +59 }, // Lượt 3: 11h - 11h30
            { id: "4", start: 14 * 60, end: 15 * 60 + 59 }, // Lượt 4: 14h - 14h30
            { id: "5", start: 16 * 60, end: 18 * 60 + 30 }, // Lượt 5: 16h - 16h30
        ];

        // Xác định lượt hiện tại
        let selectedShift = ""; // Mặc định là để trống nếu không khớp
        for (const shift of shifts) {
            if (currentTime >= shift.start && currentTime <= shift.end) {
                selectedShift = shift.id;
                break;
            }
        }

        // Gán giá trị cho dropdown
        const selectElement = document.getElementById("luot");
        selectElement.value = selectedShift;
    }
    window.onload = selectShiftBasedOnTime;
</script>
