@{
//  Layout = null;
}

<!-- daterange picker -->
<!-- daterange picker -->
<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<style type="text/css">
    p {
        font-weight: bold;
    }
</style>



<section class="content-header">
        <h1>
            <small>Báo Cáo </small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Admin/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Báo cáo phát thành công theo thời gian xác nhận đến tại bưu cục phát</li>
        </ol>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">

            <h3 class="box-title">Báo cáo phát thành công theo thời gian xác nhận đến tại bưu cục phát</h3>
            <div class="box-tools pull-right">
                @*<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>*@
                <h3 class="box-title">CL_BCKHL/PTC_BC</h3>
            </div>

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Từ Ngày </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input class="form-control pull-right" id="fromdate" type="text" data-date-format="dd/mm/yyyy" autocomplete="off">
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <label>Bưu cục</label>
                        <select class="form-control select2" style="width: 100%;" id="poscode"></select>
                    </div>

                    

                  
                    
                
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Đến Ngày</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input class="form-control pull-right" id="todate" type="text" data-date-format="dd/mm/yyyy" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Dịch vụ</label>
                        <select class="form-control select2" style="width: 100%;" id="service">
                            <option selected="selected" value="10">Tất cả</option>
                            <option value="0">EMS Thường</option>
                            <option value="1">Hoả tốc</option>
                            <option value="2">Thương mại điện tử</option>
                        </select>
                    </div>

                </div>
                <!-- /.col -->                                           
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-info btn-lrg ajax" id="btnreport">Hiển Thị <i class="fa fa-search"></i></button>
                </div>              
            </div>

            @*<div class="box-header">
                    <h3 class="box-title text-center">Tổng hợp sản lượng đi phát</h3>
                </div>*@
            <div class="loading-element text-center" style="font-size:50px;">
                <i class="fa fa-spinner fa-spin"></i>
                Vui lòng chờ giây lát...
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    @*<button type="button" class="btn btn-success btn-lrg ajax" onclick="tableToExcel('ExcelView')" id="btnexportlist">Xuất Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i>  </button>*@
                    <button type="button" class="btn btn-success btn-lrg ajax" id="btnexportlist" data-baseurl="@Url.Action("ExportDetail_PTC_XND", "KPIDeliveryLOG")">Xuất Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i>  </button>
                </div>
            </div>
            <div class="scrollingTable">
                @*<p style="float:right;">Sản Lượng Được Cập Nhật 6h Sáng Hàng Ngày</p>*@
                <table id="TableAccount" class="table table-bordered table-hover">
                   
                       
                            <thead>
                                <tr class="bg-light-blue color-palette">
                                    
                                    <th class="text-center">STT<br /></th>
                                    <th class="text-center">Bưu cục</th>
                                    <th class="text-center">Tên bưu cục</th>                                   
                                    <th class="text-center">Dịch vụ</th>
                                    <th class="text-center">Tổng số</th>
                                    <th class="text-center">SL phát thành công</th>
                                    <th class="text-center">TL phát thành công</th>
                                    <th class="text-center">SL đúng quy định</th>
                                    <th class="text-center">TL đúng quy định</th>
                                    <th class="text-center">SL không đúng quy định</th>
                                    <th class="text-center">TL không đúng quy định</th>
                                    <th class="text-center">SL không thông tin</th>
                                    <th class="text-center">TL không thông tin</th>
                                </tr>
                            </thead>
                            <tbody id="listkpithdvreport"></tbody>
                        </table>

</div>
           

        </div>
    </div>
</section>


<script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
@*<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>*@
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script type="text/javascript">


    var chart1, chart2, chart4, chart5, chart6, chart7, chart8, chart9, chart10, chart11, chart12, chart13, chart14, chart15
       , chart16, chart17, chart18, chart19, chart20, chart21, chart22, chart23, chart24, chart25, chart26, chart27, chart28;
    $(document).ready(function () {

        var d = new Date();
        var currMonth = d.getMonth();
        var currYear = d.getFullYear();
        var startDate = new Date(currYear, currMonth, 1);


        $("#fromdate").datepicker({
            dateFormat: "dd/mm/yyyy",
            todayHighlight: true
        }).datepicker("setDate", startDate);

        $("#todate").datepicker({
            dateFormat: "dd/mm/yyyy",
            todayHighlight: true
        }).datepicker("setDate", "0");


        $('.loading-element').hide();
        $('.box-footer').hide();
        $('#btnexportlist').hide();
    });

    //Phần Xuất Excel của bảng tổng hợp

    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
          , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
          , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
          , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()




    $("#btnreport").click(function () {

        // goi ham Detail
        $("#listkpithdvreport tr").remove();
        detail();
        $('.box-footer').show();


    });


    //Phần chi tiết của bảng tổng hợp sản lượng đi phát
    function detail() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ListDetail_PTC_XND", "KPIDeliveryLOG")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'json',
            data:
                {
                    StartPoscode: $('#poscode').val(),
                    IsService: $("#service").val(),
                    StartDate: $('#fromdate').val(),
                    EndDate: $('#todate').val(),   

                },
            success: function (data) {
                var postmanID = 0;
                var str_html = "";
                var str_body = "";
                var a = 1;
                $.each(data.ListDetail_PTC_XNDReport, function (i, item) {
                    if (data.ListDetail_PTC_XNDReport[i].PostmanId != '') {
                        postmanID = data.ListDetail_PTC_XNDReport[i].PostmanId;
                    }
                    if (data.ListDetail_PTC_XNDReport[i].StartPostcodeName == "") {
                        str_body += '<tr>';
                        str_body += '<td width="30" class="text-center" style="color:red">' + a++ + '</td>';
                        str_body += '<td class="text-center" style="color:red">' + data.ListDetail_PTC_XNDReport[i].StartPostCode + '</td>';
                        str_body += '<td class="text-center" style="color:red">' + data.ListDetail_PTC_XNDReport[i].StartPostcodeName + '</td>';
                        str_body += '<td class="text-center" style="color:red">' + data.ListDetail_PTC_XNDReport[i].ServiceTypeNumber + '</td>';
                        str_body += '<td class="text-center" style="color:red">' + data.ListDetail_PTC_XNDReport[i].TongSL + '</td>';
                        str_body += '<td class="text-center" style="color:red">' + data.ListDetail_PTC_XNDReport[i].SanLuongPTC + '</td>';
                        str_body += '<td class="text-center" style="color:red">' + data.ListDetail_PTC_XNDReport[i].TyLePTC + '</td>';
                        str_body += '<td class="text-center" style="color:red">' + data.ListDetail_PTC_XNDReport[i].SanLuongDat + '</td>';
                        str_body += '<td class="text-center" style="color:red">' + data.ListDetail_PTC_XNDReport[i].TyLeDat + '</td>';
                        str_body += '<td class="text-center" style="color:red"> <a href="/Admin/KPIDeliveryLOG/Detail_Item_Ems_TRUOT/?StartPoscode=' + data.ListDetail_PTC_XNDReport[i].StartPostCode + '&PostmanID=' + postmanID + '&StartDate=' + $('#fromdate').val() + '&EndDate=' + $('#todate').val() + '&IsService=' + data.ListDetail_PTC_XNDReport[i].ServiceTypeNumber + '&Istype=3' + ' "target="_blank"">' + data.ListDetail_PTC_XNDReport[i].SanLuongTruot + '</a> </td>';
                        str_body += '<td class="text-center" style="color:red">' + data.ListDetail_PTC_XNDReport[i].TyLeTruot + '</td>';
                        str_body += '<td class="text-center" style="color:red"> <a href="/Admin/KPIDeliveryLOG/Detail_Item_Ems_KTT/?StartPoscode=' + data.ListDetail_PTC_XNDReport[i].StartPostCode + '&PostmanID=' + postmanID + '&StartDate=' + $('#fromdate').val() + '&EndDate=' + $('#todate').val() + '&IsService=' + data.ListDetail_PTC_XNDReport[i].ServiceTypeNumber + '&Istype=3' + ' "target="_blank"">' + data.ListDetail_PTC_XNDReport[i].SanLuongKTT + '</a> </td>';
                        str_body += '<td class="text-center" style="color:red">' + data.ListDetail_PTC_XNDReport[i].TyLeKTT + '</td>';
                    } else {

                        str_body += '<tr>';
                        str_body += '<td width="30" class="text-center">' + a++ + '</td>';
                        str_body += '<td class="text-center">' + data.ListDetail_PTC_XNDReport[i].StartPostCode + '</td>';
                        str_body += '<td class="text-center">' + data.ListDetail_PTC_XNDReport[i].StartPostcodeName + '</td>';                 
                        str_body += '<td class="text-center">' + data.ListDetail_PTC_XNDReport[i].ServiceTypeNumber + '</td>';
                        str_body += '<td class="text-center">' + data.ListDetail_PTC_XNDReport[i].TongSL + '</td>';
                        str_body += '<td class="text-center">' + data.ListDetail_PTC_XNDReport[i].SanLuongPTC + '</td>';
                        str_body += '<td class="text-center">' + data.ListDetail_PTC_XNDReport[i].TyLePTC + '</td>';
                        str_body += '<td class="text-center">' + data.ListDetail_PTC_XNDReport[i].SanLuongDat + '</td>';
                        str_body += '<td class="text-center">' + data.ListDetail_PTC_XNDReport[i].TyLeDat + '</td>';
                        str_body += '<td class="text-center"> <a href="/Admin/KPIDeliveryLOG/Detail_Item_Ems_TRUOT/?StartPoscode=' + data.ListDetail_PTC_XNDReport[i].StartPostCode + '&PostmanID=' + postmanID + '&StartDate=' + $('#fromdate').val() + '&EndDate=' + $('#todate').val() + '&IsService=' + data.ListDetail_PTC_XNDReport[i].ServiceTypeNumber + '&Istype=3' + ' "target="_blank"">' + data.ListDetail_PTC_XNDReport[i].SanLuongTruot + '</a> </td>';
                        str_body += '<td class="text-center">' + data.ListDetail_PTC_XNDReport[i].TyLeTruot + '</td>';
                        str_body += '<td class="text-center"> <a href="/Admin/KPIDeliveryLOG/Detail_Item_Ems_KTT/?StartPoscode=' + data.ListDetail_PTC_XNDReport[i].StartPostCode + '&PostmanID=' + postmanID + '&StartDate=' + $('#fromdate').val() + '&EndDate=' + $('#todate').val() + '&IsService=' + data.ListDetail_PTC_XNDReport[i].ServiceTypeNumber + '&Istype=3' + ' "target="_blank"">' + data.ListDetail_PTC_XNDReport[i].SanLuongKTT + '</a> </td>';
                        str_body += '<td class="text-center">' + data.ListDetail_PTC_XNDReport[i].TyLeKTT + '</td>';
                    }

                    if (i == "20000") {
                        return false;
                    }

                    str_body += '</tr>';
                });
                str_html += str_body;


                if (data.Code == '01' || data.Code == '99') {
                    $('.loading-element').hide();
                    swal.fire(
                      data.Message,
                      '',
                      'error'
                    );

                }
                else {

                    $("#TableAccount").dataTable().fnDestroy();
                    $('#listkpithdvreport').html(str_html);
                    $('.loading-element').hide();
                    $('#btnexportlist').show();
                    $('#TableAccount').DataTable({
                        "ordering": false,
                        "language": {
                            " processing": "Message khi đang tải dữ liệu",
                            "search": "Tìm kiếm theo từ khóa:",
                            "lengthMenu": "Điều chỉnh số lượng bản ghi trên 1 trang _MENU_ Tổng số: " + data.ListDetail_PTC_XNDReport.length + " bản ghi",

                            "zeroRecords": "Không có dữ liệu !",
                            "info": "Hiển thị trang _PAGE_ đến _PAGES_",
                            "infoEmpty": "Không tồn tại bản ghi !",


                            "paginate": {
                                "first": "Trang đầu",
                                "previous": "Trang trước",
                                "next": "Trang sau",
                                "last": "Trang cuối"
                            }
                        }
                    });
                }
            }
        })
    }
    $('#btnexportlist').click(function () {
        // build the url
        var url = $(this).data('baseurl') + '?StartPoscode=' + $('#poscode').val() + '&IsService=' + $("#service").val() + '&StartDate=' + $('#fromdate').val() + '&EndDate=' + $('#todate').val();
       // var url = $(this).data('baseurl') + '?donvi=' + $('#loai').val + '&tinhnhan=' + $('#tinhnhan').val()phanloaidichvu=' + $('#phanloaidichvu').val() + '&startdate=' + $('#fromdate').val() + '&enddate=' + $('#todate').val() + '&service=' + $('#service').val();
        location.href = url;
    });



    $.getJSON("/KPIDeliveryLOG/PoscodeEms", function (data) {
        $('#poscode').html(data);
    })

    

</script>


