<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/GridviewScroll/gridviewScroll.css" rel="stylesheet" />
<script src="~/GridviewScroll/gridviewScroll.js"></script>


<script>

    $(document).ready(function () {
         detail();

    });

    var url_string = document.URL;
    var url = new URL(url_string);
    var endpostcode = url.searchParams.get("endpostcode");
    var routecode = url.searchParams.get("routecode");
    var service = url.searchParams.get("service");
    var startdate = url.searchParams.get("startdate");
    var enddate = url.searchParams.get("enddate");   
</script>



<section class="content-header">
    <h1>
        <small>Báo cáo chi tiết thống kê không thông tin</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Báo cáo chi tiết thống kê không thông tin</li>
    </ol>
</section>

<section class="content">

    <div class="box box-default">

        <div class="box-body">

            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-success btn-lrg ajax" id="btnexportlist" data-baseurl="@Url.Action("Export_Detail_CT_TKSL", "TKSL")">Xuất Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i>  </button>
                </div>
            </div>


            <div style="width: 100%;; overflow-x: scroll;">
                <table id="TableAccount" class="table table-bordered table-hover">
                    <thead>
                        <tr class="bg-light-blue color-palette">
                            <th class="text-center">STT<br /></th>
                            <th class="text-center">Mã bưu gửi</th>
                            <th class="text-center">Tuyến Phát</th>
                            <th class="text-center">Tên Tuyến Phát</th>
                            <th class="text-center">BC Phát</th>
                            <th class="text-center">Tên BC Phát</th>
                            <th class="text-center">ID Bưu tá</th>
                            <th class="text-center">Tên bưu tá</th>
                            <th class="text-center">Ngày đi</th>
                            <th class="text-center">Giờ đi</th>
                            <th class="text-center">Dịch vụ</th>                    
                        </tr>
                    </thead>
                    <tbody id="ListItemDetail"></tbody>
                </table>
            </div>
            <div class="col-lg-12 loading-element text-center" style="font-size:50px;">
                <i class="fa fa-spinner fa-spin"></i>
                Vui lòng chờ giây lát...
            </div>
        </div>

    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
@*<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>*@





<script>
    var url_string = document.URL;
    var url = new URL(url_string);
    var PostmanID = url.searchParams.get("postmanid");
    var routecode = url.searchParams.get("routecode");
    var service = url.searchParams.get("service");
    var startdate = url.searchParams.get("startdate");
    var enddate = url.searchParams.get("enddate");   
    $(document).ready(function () {
       
        detail();

    });

    function detail() {
                 $.ajax({
                     type: "POST",

                     url: '@Url.Action("PostmanDeliveryDetailNotPOD", "PostmanDelivery")',
                beforeSend: function () {
                    $('.loading-element').show();
                },

            dataType: "json",
            data:
                {
                    RouteCode: routecode,
                    PostmanID: PostmanID,
                    servicetypenumber: service,
                    startdate: startdate,
                    enddate: enddate,

                },
            success: function (data) {
                debugger;
                var str_html = "";
                var str_body = "";
                var a = 1;


                $.each(data.ListNotPODKPIDetailReport, function (i, item) {
                    str_body += '<tr>';
                    str_body += '<td>' + a++ + '</td>';
                    str_body += '<td><a href="https://ems.com.vn/tra-cuu/tra-cuu-buu-gui?code=' + data.ListNotPODKPIDetailReport[i].ItemCode + '"target="_blank" "class="mae1" id="' + data.ListNotPODKPIDetailReport[i].ItemCode + '">' + data.ListNotPODKPIDetailReport[i].ItemCode + '</a></td>';
                    // str_body += '<td>' + data.ListPostmanDeliverySuccess5HReport[i].StartPostcode + '</td>';
                    str_body += '<td>' + data.ListNotPODKPIDetailReport[i].RouteCode + '</td>';
                    str_body += '<td>' + data.ListNotPODKPIDetailReport[i].RouteCodeName + '</td>';
                    str_body += '<td>' + data.ListNotPODKPIDetailReport[i].StartPostCode + '</td>';
                    str_body += '<td>' + data.ListNotPODKPIDetailReport[i].StartPostcodeName + '</td>';
                    str_body += '<td>' + data.ListNotPODKPIDetailReport[i].PostmanID + '</td>';
                    // str_body += '<td>' + data.ListPostmanDeliverySuccess5HReport[i].ServiceTypeNumber + '</td>';
                    str_body += '<td>' + data.ListNotPODKPIDetailReport[i].PostManName + '</td>';
                    str_body += '<td>' + data.ListNotPODKPIDetailReport[i].StatusDate + '</td>';
                    str_body += '<td>' + data.ListNotPODKPIDetailReport[i].StatusTime + '</td>';
                    str_body += '<td>' + data.ListNotPODKPIDetailReport[i].servicetypenumber + '</td>';

                    str_body += '</tr>';
                });
                str_html += str_body;

                if (data.Code == '01' || data.Code == '99') {
                    $('.loading-element').hide();
                    swal(
                      data.Message,
                      '',
                      'error'
                    );

                }
                else {
                    $("#TableAccount").dataTable().fnDestroy();
                    $('#ListItemDetail').html(str_html);
                    $('.loading-element').hide();
                    $('#ListItemDetail').show();


                    $('#TableAccount').DataTable({
                        "ordering": false,
                        "language": {
                            "lengthMenu": "Hiển thị _MENU_ bản ghi " + data.ListNotPODKPIDetailReport.length + " bưu gửi",
                            "zeroRecords": "Không có dữ liệu !",
                            "info": "Hiển thị trang _PAGE_ đến _PAGES_",
                            "infoEmpty": "Không tồn tại bản ghi !",

                            "paginate": {
                                "next": "Trang sau",
                                "previous": "Trang trước"
                            }
                        }
                    });


                }
            }
        })
    }

    $('#btnexportlist').click(function () {
        // build the url

        var url = $(this).data('baseurl') + '?endpostcode=' + $("#endpostcode").val() + '&routecode=' + item.RouteCode + '&service=' + item.ServiceType + '&startdate=' + startdate + '&enddate=' + enddate;
        // redirect
        location.href = url;
    });


</script>
