<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/GridviewScroll/gridviewScroll.css" rel="stylesheet" />
<script src="~/GridviewScroll/gridviewScroll.js"></script>


<script>

    $(document).ready(function () {
         detail();

    });

    var url_string = document.URL;
    var url = new URL(url_string);
    var WorkCenter = url.searchParams.get("WorkCenter");
    var IDVnpost = url.searchParams.get("IDVnpost");
    var startdate = url.searchParams.get("startdate");
    var enddate = url.searchParams.get("enddate");
    var dichvu = url.searchParams.get("dichvu");
</script>



<section class="content-header">
    <h1>
        <small>Báo cáo chi tiết trượt chuyến theo hành trình đi</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Báo cáo chi tiết trượt chuyến theo hành trình đi</li>
    </ol>
</section>

<section class="content">

    <div class="box box-default">

        <div class="box-body">

            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-success btn-lrg ajax" id="btnexportlist" data-baseurl="@Url.Action("ExportTHSLTC", "THTCKT")">Xuất Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i>  </button>
                </div>
            </div>


            <div style="width: 100%;; overflow-x: scroll;">
                <table id="TableAccount" class="table table-bordered table-hover">
                    <thead>
                        <tr class="bg-light-blue color-palette">
                            <th class="text-center">STT</th>
                            <th class="text-center">Trạng thái</th>
                            <th class="text-center">TG KT</th>
                            <th class="text-center">Mã E1</th>
                            <th class="text-center">Khối lượng</th>
                            <th class="text-center">ID VNPOST</th>
                            <th class="text-center">Tên hành trình</th>
                            <th class="text-center">BC lập BD10</th>
                            <th class="text-center">BC nhận BD10</th>
                            <th class="text-center">Ngày lập BD10</th>
                            <th class="text-center">Thời gian lập BD10</th>
                            <th class="text-center">STT BD10</th>
                            <th class="text-center">ID BD10</th>
                            <th class="text-center">Thời gian quét túi</th>
                            <th class="text-center">Tỉnh đóng CT</th>
                            <th class="text-center">BC đóng CT</th>
                            <th class="text-center">Tỉnh nhận CT</th>
                            <th class="text-center">BC nhận CT</th>
                            <th class="text-center">Chuyến thư</th>
                            <th class="text-center">Túi số</th>
                            <th class="text-center">Ngày đóng CT</th>
                            <th class="text-center">TG đóng túi</th>
                            <th class="text-center">Mã cổ túi</th>

                        </tr>
                    </thead>
                    <tbody id="ListTHSLTCDetail"></tbody>
                </table>
            </div>
            <div class="col-lg-12 loading-element text-center" style="font-size:50px;">
                <i class="fa fa-spinner fa-spin"></i>
                Vui lòng chờ giây lát...
            </div>
        </div>

    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
@*<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>*@





<script>
    var url_string = document.URL;
    var url = new URL(url_string);
    var WorkCenter = url.searchParams.get("WorkCenter");
    var IDVnpost = url.searchParams.get("IDVnpost");
    var startdate = url.searchParams.get("startdate");
    var enddate = url.searchParams.get("enddate");
    var dichvu = url.searchParams.get("dichvu");

    $(document).ready(function () {

        detail();

    });

    function detail() {
                 $.ajax({
                     type: "POST",

                     url: '@Url.Action("ListTHSLTCReport", "THTCKT")',
                beforeSend: function () {
                    $('.loading-element').show();
                },

            dataType: "json",
            data:
                {
                    WorkCenter: WorkCenter,
                    IDVnpost: IDVnpost,
                    startdate: startdate,
                    enddate: enddate,
                    dichvu: dichvu

                },
            success: function (data) {
                debugger;
                var str_html = "";
                var str_body = "";
                var a = 1;


                $.each(data.ListTHSLTCDetailReport, function (i, item) {
                    str_body += '<tr>';
                    str_body += '<td class="text-center">' + a++ + '</td>';

                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].Status + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].TimeToSorting + '</td>';
                    str_body += '<td class="text-center"> <a href="/Admin/THTCKT/CTSLTC/?ItemCode=' + data.ListTHSLTCDetailReport[i].ItemCode + '&WorkCenter=' + data.ListTHSLTCDetailReport[i].WorkCenter + ' "target="_blank"">' + data.ListTHSLTCDetailReport[i].ItemCode + '</a> </td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].Weight + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].IDVNPost + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].MailRouteScheduleName + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].BC37FromPosCode + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].BC37ToPosCode + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].BC37DateChar + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].BCCPCreateTime + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].BC37Index + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].BC37Code + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].BCCPTime + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].MailTripFromProvinceName + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].FromPosCode + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].MailTripToProvinceName + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].ToPosCode + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].MailTripNumber + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].PostBagIndex + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].MailTripDateChar + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].KTE4Time + '</td>';
                    str_body += '<td ">' + data.ListTHSLTCDetailReport[i].postbagcode + '</td>';

                    str_body += '</tr>';
                }) ;
                str_html += str_body;

                if (data.Code == '01' || data.Code == '99') {
                    $('.loading-element').hide();
                    swal(
                      data.Message,
                      '',
                      'error'
                    );

                }
                else {
                    $("#TableAccount").dataTable().fnDestroy();
                    $('#ListTHSLTCDetail').html(str_html);
                    $('.loading-element').hide();
                    $('#ListTHSLTCDetail').show();


                    $('#TableAccount').DataTable({
                        "ordering": false,
                        "language": {
                            "lengthMenu": "Hiển thị _MENU_ bản ghi " + data.ListTHSLTCDetailReport.length + " bưu gửi",
                            "zeroRecords": "Không có dữ liệu !",
                            "info": "Hiển thị trang _PAGE_ đến _PAGES_",
                            "infoEmpty": "Không tồn tại bản ghi !",

                            "paginate": {
                                "next": "Trang sau",
                                "previous": "Trang trước"
                            }
                        }
                    });


                }
            }
        })
    }

    $('#btnexportlist').click(function () {
        // build the url

        var url = $(this).data('baseurl') + '?WorkCenter=' + WorkCenter + '&IDVnpost=' + IDVnpost + '&dichvu=' + dichvu + '&startdate=' + startdate + '&enddate=' + enddate;
        // redirect
        location.href = url;
    });


</script>
