@{
//  Layout = null;
}

<!-- daterange picker -->
<!-- daterange picker -->
<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />





<style type="text/css">
    p {
        font-weight:bold;
    }
</style>

<section class="content-header">
        <h1>
            <small>Báo Cáo </small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Admin/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Báo cáo chất lượng KPI Khai thác vận chuyển</li>
        </ol>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">

            <h3 class="box-title">Báo cáo chất lượng KPI Khai thác vận chuyển</h3>
            <div class="box-tools pull-right">
                @*<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>*@
                <h3 class="box-title">KTVC/VC_EMS</h3>
            </div>

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Từ Ngày </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input class="form-control pull-right" id="fromdate" type="text" data-date-format="dd/mm/yyyy" autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Khu Vực</label>
                        <select class="form-control select2" style="width: 100%;" id="hub">
                            <option selected="selected" value="0">Vui lòng chọn Hub</option>
                            <option value="100916">100916-EMS HN LT</option>
                            <option value="550915">550915-EMS DN LT</option>
                            <option value="700916">700916-EMS HCM LT</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Dịch vụ</label>
                        <select class="form-control select2" style="width: 100%;" id="service">
                            <option selected="selected" value="0">Tất cả</option>
                            <option value="1">ETL-Tài liệu nhanh</option>
                            <option value="2">EHN-Hàng hóa nhanh</option>
                            <option value="4">ENN-TMDT nhanh</option>
                            <option value="5">PHT-Phát hỏa tốc</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Đến Ngày</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input class="form-control pull-right" id="todate" type="text" data-date-format="dd/mm/yyyy" autocomplete="off">
                        </div>
                    </div>
                  

                    <div class="form-group">
                        <label>Tỉnh nhận</label>
                        <select class="form-control select2" style="width: 100%;" id="endprovince">
                            <option selected="selected" value="0">Tất cả</option>

                        </select>
                    </div>
                 
                </div>
                <!-- /.col -->
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-info btn-lrg ajax" id="btnreport">Hiển Thị <i class="fa fa-search"></i></button>
                </div>
            </div>

            @*<div class="box-header">
                    <h3 class="box-title text-center">Tổng hợp sản lượng đi phát</h3>
                </div>*@
            <div class="loading-element text-center" style="font-size:50px;">
                <i class="fa fa-spinner fa-spin"></i>
                Vui lòng chờ giây lát...
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-success btn-lrg ajax" id="btnexportlist" data-baseurl="@Url.Action("ExportKpiTransportTotal", "KPITransport")">Xuất Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i>  </button>
                </div>
            </div>
            <div>
                @*<p style="float:right;">Sản Lượng Được Cập Nhật 6h Sáng Hàng Ngày</p>*@
                <table id="TableAccount" class="table table-bordered table-hover">
                    <thead>
                        <tr class="bg-light-blue color-palette">
                            <th class="text-center" width="15px">STT<br /></th>
                            <th class="text-center">Hub</th>
                            <th class="text-center">Tên Hub</th>
                            <th class="text-center" width="150px" >Mã tỉnh nhận</th>
                            <th class="text-center">Tên tỉnh nhận</th>
                         
                            <th class="text-center">Tổng số</th>
                            <th class="text-center">TL đúng quy định</th>
                            <th class="text-center">SL trượt chuyến</th>
                            <th class="text-center">TL trượt chuyến</th>
                            <th class="text-center">SL không KPI</th>
                            <th class="text-center">TL không KPI</th>
                        </tr>
                    </thead>
                    <tbody id="listtransport"></tbody>
                </table>



            </div>



            <!-- Modal -->
         

        </div>
    </div>
</section>



<script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
@*<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>*@



<script type="text/javascript">

    $(document).ready(function () {

        var d = new Date();
        var currMonth = d.getMonth();
        var currYear = d.getFullYear();
        var startDate = new Date(currYear, currMonth, 1);


        $("#fromdate").datepicker({
            dateFormat: "dd/mm/yyyy",
            todayHighlight: true
        }).datepicker("setDate", startDate);

        $("#todate").datepicker({
            dateFormat: "dd/mm/yyyy",
            todayHighlight: true
        }).datepicker("setDate", "0");


        $('.loading-element').hide();
        $('.box-footer').hide();
        $('#listkpickup').hide();
       // detail();
    });

    //Phần Xuất Excel của bảng tổng hợp




    $("#btnreport").click(function () {

        // goi ham Detail
        $("#listtransport tr").remove();
        detail();
        $('.box-footer').show();


    });


    //Phần chi tiết của bảng tổng hợp sản lượng đi phát





    //Phần function detail_account
    function detail() {
        debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action("ListDetailTotalKPITransport", "KPITransport")',
            beforeSend: function () {
                $('.loading-element').show();
            },
      
            dataType: 'json',
           
            data:
                {
                    hub: $('#hub').val(),
                    endprovince: $('#endprovince').val(),
                    service: $('#service').val(),
                    startdate: $('#fromdate').val(),
                    enddate: $('#todate').val()
                   
                },
          
            success: function (data) {
                debugger;
                var str_html = "";
                var str_body = "";
                var a = 1;
                $.each(data.ListKpiTransportReport, function (i, item) {
                    str_body += '<tr>';
                    str_body += '<td class="text-center">' + a++ + '</td>';
                    str_body += '<td class="text-center">' + data.ListKpiTransportReport[i].WorkCenter + '</td>';
                    str_body += '<td class="text-center">' + data.ListKpiTransportReport[i].WorkCenterName + '</td>';
                    str_body += '<td class="text-center">' + data.ListKpiTransportReport[i].EndProvince + '</td>';
                    str_body += '<td class="text-center">' + data.ListKpiTransportReport[i].EndProvinceName + '</td>';
                  
                    str_body += '<td class="text-center">' + data.ListKpiTransportReport[i].Total + '</td>';
                    str_body += '<td class="text-center">' + data.ListKpiTransportReport[i].TLSuccess + '</td>';
                    str_body += '<td class="text-center"> <a href="/Admin/KPITransport/ListDetailKPITransportFail/?endprovince=' + item.EndProvince + '&startdate=' + $('#fromdate').val() + '&enddate=' + $('#todate').val() + '&hub=' + $('#hub').val() + '&service=' + $('#service').val() + ' "target="_blank"">' + item.IsFailStatus + '</a> </td>';
                    str_body += '<td class="text-center">' + data.ListKpiTransportReport[i].TLIsFailStatus + '</td>';
                    str_body += '<td class="text-center"> <a href="/Admin/KPITransport/ListDetailKPITransportNotKPI/?endprovince=' + item.EndProvince + '&startdate=' + $('#fromdate').val() + '&enddate=' + $('#todate').val() + '&hub=' + item.WorkCenter + '&service=' + $('#service').val() + ' "target="_blank"">' + item.NotKPI + '</a> </td>';
                    str_body += '<td class="text-center">' + data.ListKpiTransportReport[i].TLNotKPI + '</td>';
                 


                    str_body += '</tr>';
                });
                str_html += str_body;


                if (data.Code == '01' || data.Code == '99') {
                    $('.loading-element').hide();
                    swal(
                      data.Message,
                      '',
                      'error'
                    );

                }

                else{

                $("#TableAccount").dataTable().fnDestroy();
                $('#listtransport').html(str_html);
                $('.loading-element').hide();
                $('#listtransport').show();
                $('#TableAccount').DataTable({
                    "ordering": false,
                    "language": {
                        " processing": "Message khi đang tải dữ liệu",
                        "search": "Tìm kiếm theo từ khóa:",
                        "lengthMenu": "Điều chỉnh số lượng bản ghi trên 1 trang _MENU_ Tổng số: " + data.ListKpiTransportReport.length + " bản ghi",
                        
                        "zeroRecords": "Không có dữ liệu !",
                        "info": "Hiển thị trang _PAGE_ đến _PAGES_",
                        "infoEmpty": "Không tồn tại bản ghi !",


                        "paginate": {
                            "first": "Trang đầu",
                            "previous": "Trang trước",
                            "next": "Trang sau",
                            "last": "Trang cuối"
                        }
                    }
                });

                }
            }
        })
    }


    $('#btnexportlist').click(function () {
        // build the url
        var url = $(this).data('baseurl') + '?hub=' + $('#hub').val() + '&endprovince=' + $('#endprovince').val() + '&startdate=' + $('#fromdate').val() + '&enddate=' + $('#todate').val() + '&service=' + $('#service').val();
        // redirect
        location.href = url;
    });

    $.getJSON("/KPITransport/Province", function (data) {
        $('#endprovince').html(data);
    })



</script>


